  body {
      font-family: 'Roboto';
      font: 25px;
      /* Lato, sans-serif;*/
      line-height: 200%;
      color: #f5f6f7;
  }

  h2 {
      font-family: 'Open Sans';
  }

  h3 {
    font-family: 'Julius Sans One';
  }

  #h7 {
    font-size: 12px;
  }

  #myCarousel {
      font: 15px Lato, sans-serif;
  }

  p { font-size: 15px; }

  .yun_pic {
      width: 80%;
      height: 80%;
  }

  #overlay_img {
      min-width: 100%;
      
  }
  #overlay_img:hover {
      content: url('../img/yun_origin.png');
      min-width: 100%;
      
  }

  .margin { margin-bottom: 45px;  }

  .bg-white { 
      /* background-image: url("bg_cloud.jpg"); */
      background-color: white; /* Green */
      color: #424242;
      padding-bottom: 20px;
  }

  .bg-white-no-pad { 
      /* background-image: url("bg_cloud.jpg"); */
      background-color: white; /* Green */
      color: #424242;
      padding-bottom: 0px;
  }

  .bg-darkblue { 
      background-color: #99d6ff; /* Dark Blue */
      color: #282828;
      padding-bottom: 20px;
  }

  .bg-gray-no-pad {
      background-color: #2f2f2f; /* Dark Blue */
      color: white;
      padding-top: 20px;
      padding-bottom: 0px;
  }

  .bg-lightblue {  
      background-color: #bbdff7; /* White */
      color: #555555;
      padding-bottom: 0px;
  }

  .bg-gray {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
      padding-bottom: 0px;
  }

  .container-fluid {
      padding-top: 0px;
  }
  .navbar {
      min-height:90px !important;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: 5px;
      background-color: transparent;
  }
  .navbar-nav  li a:hover {
      color: #66c2ff !important;
      border-bottom: 3px solid;
  }

  .nav li a:link {
    color: black !important;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: black;
  }

  .table {
      border-bottom:0px !important;
  }
  .table th, .table td {
      border: 1px !important;
  }
  .fixed-table-container {
      border:0px !important;
  }

  .well{
    background-color: rgb(230, 245, 255);
  }

  #pin_menu {
      /*background-color: #1abc9c;
      border-radius: 13px;*/
      color: #66c2ff !important;
      border-top: 2px solid;
  }
  .nav-tabs li a {
      color: #777;
  }


  #logo-opacity {
    opacity: 0.7;
  }

  /* Some changes from Bootstrap */
  .alert {
    height: 60px;
    line-height:20px;
    padding: 10px 20px;
  }
